@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin: 2px;
    width: 23%;
    border: 3px solid white;
    border-radius: 150px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}


.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 3px solid white;
    border-radius: 30px;
}

.background{
    background: rgb(0, 0, 0, 0.75) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstSection{
    height: 70vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 70%;
    border: 3px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 45px;
}

.text-small{
    font-size: 15px;
}

.btn{
    padding: 8px 20px;
    margin: 8px 3.5px;
    border: 2px solid white;
    border-radius: 13px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm{
    padding: 8px 10px;

}

.section{
    /*height: 380px;*/
    padding-top: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}
.sectionTag{
    padding: 15px 0px;
}
.sectionSubTag{
    font-size: 16.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    padding: 0px 6px;
    margin: 0px 3px;
}

.skills{
    background-color: rgb(250, 250, 250);
    height: 50vh;
}

.text-center{
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

.tech{
    max-width: 80%;
    margin: auto;
    padding: 5px;
}

.foorBack{
    height: 50px;
    background-color: rgb(75, 75, 75);
}
.footText{
    color: white;
    text-align: center;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.buttons{
    padding: 5px 0px;
    display: flex;
}

.con{
    margin: 11px 0px;
    font-family: 'Roboto Mono', monospace;
}

.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 445px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .firstSection{
        padding-top: 30px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
        text-align: left;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0;
        
    }
}